.principal{
    // border: solid 2px red;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.Container{
    // border: solid 2px green;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    h2{
        text-align: center;
    }
    form{
    border: solid 2px #005695;
    width: 400px;
    height: 420px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    div{
        // border: solid 2px purple;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #005695;
    }
    input{
        width: 330px;
        height: 35px;
        border: solid 2px #005695;
        border-radius: 15px;
        outline: none;
        padding-left: 20px;
        &::placeholder{
            color: black;
        }

    }

    .doar{
        background-color: #005695;
        width: 150px;
        height: 6vh;
        padding-left: 0;
        color: white;
        font-size: 17px;
    }
    }
    

}

