.banner{
    background-image: url('../../assets/banner.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    display: flex;
    align-items: center;

    h2{
        color: white;
        // border: solid 2px red;
        width: 26vw;
        font-size: 40px;
        margin-left: 150px;
    }
}

.devoDoar{
    height: 85vh;
    div{
        height: 15vh;
        display: flex;
        align-items: center;

        h2{
            font-size: 30px;
            color: #005695;
            margin-left: 85px;
        }

    }
}

.BoxCard{
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;

    article{
        width: 20%;
        height: 50%;
        background-color: #0157944D;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        p{
            text-align: center;
            font-size: 18px;
        }
    }
}

@media(max-width: 1200px){
    .banner{
        background-size: cover;
    }
    .BoxCard{
        article{
            p{
                font-size: 1.4vw;
            }
        }
    }

}

@media(max-width: 860px){
    .banner{
        background-position: center;
        // background-image: url("../../assets/secondBanner.png");
        
    }

    .BoxCard{
        article{
            width: 22%;
            p{
                font-size: 1.6vw;
            }
        }
    }

}

@media(max-width: 760px){
    .banner{
        justify-content: center;
        h2{
            width: 90%;
            margin-left: 0;
            text-align: center;
        }
    }

    .devoDoar{
        height: auto;
        div{
            justify-content: center;
            h2{
                margin-left: 0;
            }
        }
    }

    .BoxCard{
        flex-wrap: wrap;
        gap: 10px;
        height: 65vh;

        article{
            width: 230px;
            height: 30vh;
            
            p{
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 477px){
    .BoxCard{
        height: auto;
        margin-bottom: 10px;
    }
}